{% extends 'base.html' %}
{% load static %}
{% block title %}FLUX | Specialized in impossible things{% endblock title %}
{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">A robotics club dreaming high,</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">passionate Working on impossible-seeming works.
          Start scrolling and get to know more about us.
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>About us</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <!--Lottie animation-->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_o1lymrdr.json" background="transparent"
          speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>It is a Robotics Club of Samrat Ashok Technological Institute, Vidisha(M.P.),
              run by a team of young enthusiastic and ambitious people.</h2>
            <p>
              We mainly focus on the latest and future demanding technologies like
              Internet of Things, Machine Learning, Artificial Intelligence, and many more.
            </p>
            <!-- <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div> -->
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="flux/static/img/about.jpeg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- Removed Values Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-3">

        <div class="col-lg-4 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Faculty Coordinators</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>
        </div>

        <!-- Removed  one section-->

        <div class="col-lg-4 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>What we do</h2>
        <p>We work with trending technologies</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <img src="flux/static/img/features-2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Robotics</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>IoT Devices</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Machine Learning</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Web Development</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>App Development</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Artificial Intelligence</h3>
              </div>
            </div>

          </div>
        </div>

      </div> <!-- / row -->
    </div>
  </section>

  <!-- Removed Features Tabs Section -->

  <!-- Removed Feature Icons -->


  <!-- ======= Removed Services Section ======= -->


  <!-- ======= Removed Pricing Section ======= -->


  <!-- ======= Removed F.A.Q Section ======= -->


  <!-- ======= Portfolio Section ======= -->
  <section id="project" class="portfolio">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Projects</h2>
        <p>Check our latest projects</p>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Compleated Projects</li>
            <li data-filter=".filter-card">Ongoing Projects</li>
          </ul>
        </div>
      </div>

      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for project in projects %}
        {% if project.completed %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src={{ project.image1.url }} class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ project.name }}</h4>
              <p>{{ project.category }}</p>
              <div class="portfolio-links">
                <a href={{ project.image1.url }} data-gallery="portfolioGallery" class="portfokio-lightbox"
                  title="App 1"><i class="bi bi-plus"></i></a>
                <a href="{% url 'project_description' project.id %}" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src={{ project.image1.url }} class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ project.name }}</h4>
              <p>{{ project.category }}</p>
              <div class="portfolio-links">
                <a href={{ project.image1.url }} data-gallery="portfolioGallery" class="portfokio-lightbox"
                  title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="{% url 'project_description' project.id %}" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>

  </section><!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Faculties</h2>
        <p>What they are saying about us</p>
      </header>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">

              <div class="profile mt-auto">
                <img src="{% static 'img/testimonials/DirectorSir.png' %}" class="testimonial-img" alt="">
                <h3>Dr. J. S. Chauhan</h3>
                <h4>Director SATI</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">


              <div class="profile mt-auto">
                <img src="{% static 'img/testimonials/jyotsnamam.png' %}" class="testimonial-img" alt="">
                <h3>Dr. Jyotsna V Ogale</h3>
                <h4>Faculty Co-ordinators</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">


              <div class="profile mt-auto">
                <img src="{% static 'img/testimonials/Amansir.jpg' %}" class="testimonial-img" alt="">
                <h3>Prof. Aman Sharma</h3>
                <h4>Assistant Professor</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">


              <div class="profile mt-auto">
                <img src="{% static 'img/testimonials/Naveensir.jpg' %}" class="testimonial-img" alt="">
                <h3>Prof. Naveen Malviya</h3>
                <h4>Assistant Professor</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">


              <div class="profile mt-auto">
                <img src="flux/static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Prof. Shaila Chugh</h3>
                <h4>Assistant Professor</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Team</h2>
        <p>Our hard working team</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="flux/static/img/team/Er. Mritunjay Pathak.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Er. Mritunjay Pathak</h4>
              <span>founder of flux</span>
              <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                exercitationem iure minima enim corporis et voluptate.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="flux/static/img/team/HiteshPatel.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Hitesh Patel</h4>
              <span>founder of flux</span>
              <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                Voluptate sed quas reiciendis animi neque sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="flux/static/img/team/RishabhBhargava.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Rishabh Bhargava</h4>
              <span>Coordinator</span>
              <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                architecto porro aspernatur molestiae modi.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="flux/static/img/team/pragatimandloi.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>pragati mandloi</h4>
              <span>coordinator</span>
              <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque
                ut possimus ipsum officia.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Technologies</h2>
        <p>Technologies that we use</p>
      </header>

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="flux/static/img/clients/client-1.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-2.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-3.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-4.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-5.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-6.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-7.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="flux/static/img/clients/client-8.png" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </section><!-- End Clients Section -->

  <!-- ======= Removed Recent Blog Posts Section ======= -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Join</h2>
        <p>Join Us</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>FLUX Office, Near NCC Office<br>
                  Samrat Ashok Technological Institute<br>
                  Vidisha(M.P.)<br><br></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+91 909 821 6412</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>roboticsclubflux@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Sunday<br>12:00AM - 06:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <!-- <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form> -->
          
          <header class="section-header">
            <p>We are not Rrecruiting right now</p>
            <h2 class="my-4">Subscribe to get notified when we do!</h2>
          </header>
        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock body %}